*{
    margin: 0;
    text-align: center;
}

body{
    background: #393646;
}

.calGeneral{
    box-shadow: 0 0 20px black;
    height: auto;
    width: 30%;
    margin: 50px auto;
    border-radius: 10px;
}

.total{
    border-radius: 10px 10px 0 0;
    height: 125px;
    width: 100%;
    background: #bebebe;
    color: black;
}
    .muestra{
        border: none;
        background: none;
        padding: 25px;
        font-size: 50px;
        font-weight: 900;
    }

.btn-primera{
    background: rgb(34, 34, 34);
    height: 100px;
    width: 100%;
    display: flex;
    flex-flow: row;
}

    .btn-style{
        width: 25%;
        /* margin: 1px; */
        padding: 20px;
        text-decoration: none;
        color: white;
        font-weight: 800;
        font-size: 50px;
        border: none;
        background: none;
    }
        .btn-style:hover{
            cursor: pointer;
            background: rgb(118, 118, 228);
        }

    footer{
        padding: 10px;

        background: #2e2c38;
    }
        footer a{
            color: white;
            text-decoration: none;
            font-size: 25px;
            font-weight: 800;
        }
            footer a:hover{
                color: #bebebe;
            }

        
        @media only screen and (max-width: 1000px) {
            .calGeneral{
                width: 50%;
            }
          }
          @media only screen and (max-width: 650px) {
            .calGeneral{
                width: 70%;
            }
          }
          @media only screen and (max-width: 500px) {
            .calGeneral{
                width: 90%;
            }
          }  